body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(51, 51, 51);
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: cyan;
}
img{
    width: 300px;
    border-radius: 10px;
}
.title{
    position: absolute;
    top: -20px;
    left: 30px;
    font-size: 2em;
    background-color: rgb(51, 51, 51);
}

.content{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    width: clamp(100px, 100vw, 800px);
    position: relative;
}
.col{
    display: flex;
    flex-direction: column;
    width: 120px;
}