body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #21222c;
    color: white;
}
*{
    box-sizing: border-box;
}
.button{
    text-decoration: none;
    color: white;
    background-color: rgb(83, 83, 83);
    margin: 5px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}
.button:hover{
    background-color: rgb(95, 103, 109);
}





.menu{
    display: flex;
    flex-direction: column;
}

.menu-item{
    padding: 5px;
    margin: 5px 20px;
    border: none;
    background-color: #282a36;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}
.menu-item:hover{
    background-color: #343746;
}


.message{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3em;
}
p{
}
