body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: white;
}

a{
    text-decoration: none;
    color: white;
    background-color: rgb(83, 83, 83);
    margin: 5px;
    padding: 5px 10px;
    border-radius: 30px;
}
a:hover{
    background-color: rgb(95, 103, 109);
}

img{
    width: 300px;
    border-radius: 10px;
}
.title{
    position: absolute;
    top: -30px;
    left: 30px;
    font-size: 2em;
    background-color: rgb(54, 54, 54);
    padding: 6px;
}
.box > *{
    flex-grow: 1;
}

.box{
    display: flex;
    align-items: center;
    border: 1px dashed rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;

    position: relative;
    margin-bottom: 30px;
}
.content{
    width: clamp(100px, 100vw, 800px);
}
.col{
    display: flex;
    flex-direction: column;
    width: 120px;
}
.description{
    width: 300px;
    padding: 30px;
}

.heading{
    text-align: start;
    font-size: 30pt;
    margin: 40px 0;
    padding: 10px 0;
    border-bottom:1px solid white;
}